*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: cadetblue;
    color: white;
}

.container{
    width: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1{
    text-align: center;
    padding: 10px 0;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.palindrome-div{
    border-radius: 20px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    margin: 10px 0;
    background-color: white;
    box-shadow: 0 6px 6px rebeccapurple;
    width: min(100vw, 450px);
}

label{
    margin-bottom: 20px;
    color: black;
}

.palindrome-input{
    height: 30px;
    width: 250px;
    text-align: center;
    font-size: 1.2rem;
    margin: 10px;
    border: none;
    border-bottom: 2px solid cadetblue;
}

.palindrome-btn{
    width: 90px;
    border: none;
    padding: 10px;
    border-radius: 15px;
    background-color: #5a01a7;
    color: #fff;
    cursor: pointer;
}

.results-div{
    overflow-y: auto;
    word-wrap: break-word;
    min-height: 50px;
    color: black;
}

.palindrome-definition-div{
    width: min(100vw, 450px);
    font-size: 1.3rem;
    min-height: 140px;
    background-color: #00471b;
    margin-top: 20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}